<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Marketplace</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/register">Register</a>
            <a href="/products">Products</a>
            <a href="/add_product">Add Product</a>
            <a href="/login">Login</a> <!-- Кнопка для авторизации -->
        </nav>
    </header>
    
    <main>
        <h3>Available Products</h3>
        
        <!-- Популярные товары -->
        <section class="product-section">
            <h3>Popular Products</h3>
            <div class="product-list">
                {% for product in popular_products %}
                    <div class="product-card">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.description[:100] }}...</p>
                        <p>Price: ${{ product.price }}</p>
                        <a href="{{ url_for('product_detail', product_id=product.id) }}">View Details</a>
                        <form method="POST" action="{{ url_for('add_to_cart_route', product_id=product.id) }}">
                            <button type="submit">Add to Cart</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </section>
        
        <!-- Самые выгодные товары -->
        <section class="product-section">
            <h3>Best Value Products</h3>
            <div class="product-list">
                {% for product in best_value_products %}
                    <div class="product-card">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.description[:100] }}...</p>
                        <p>Price: ${{ product.price }}</p>
                        <a href="{{ url_for('product_detail', product_id=product.id) }}">View Details</a>
                        <form method="POST" action="{{ url_for('add_to_cart_route', product_id=product.id) }}">
                            <button type="submit">Add to Cart</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
</body>
</html>
